.Navbar {
  width: 50%;
  padding: 0 2% 0 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 37px;
}

.Navbar a {
  font-weight: 700;
  font-size: smaller;
  height: 48px;
  display: flex;
  flex-grow: 1;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 12px;
  color: #2e94fa;
  text-decoration: none;
  transition: all .12s ease-out;
}

.Navbar a:hover {
  transform: scale(1.03);
  background-color: #d9ecff;
  box-shadow: 0 4px 36px 0 rgba(8,55,73,.07);
}

.Navbar a.active {
  background-color: #2e94fa;
  color: #f4f4f4;
}

@media screen and (max-width: 640px) {
  .Navbar {
    width: 95%;
    flex-direction: column;
    justify-content: center;
  }

  .Navbar a {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    border-radius: 12px;
    color: #2e94fa;
    text-decoration: none;
    transition: all .12s ease-out;
  }
}
