.SkillList {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.SkillList-inner {
  display: flex;
  flex-direction: row;
  width: 50%;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .SkillList-inner {
    width: 95%;
  }
}
