.Skill {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  margin: 15px;
  box-shadow: 0 4px 36px 0 rgba(8,55,73,.07);
}

@media screen and (max-width: 640px) {
  .Skill {
    flex-grow: 2;
  }
}


.Skill header {
  font-weight: bolder;
}

.Skill span {
  font-size: x-small;
  text-transform: lowercase;
  font-weight: bold;
}

.Skill span.Senior {
  color: #22e39e;
}

.Skill span.Advanced {
  color: #2e94fa;
}

.Skill span.Digging {
  color: #ffd4f0;
}

.Skill span.Interested {
  color: #ff7045;
}
