.WorkExperienceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 48px;
}

.WorkExperienceList-inner {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  .WorkExperienceList-inner {
    width: 95%;
  }
}
