.WorkExperience {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 12px;
  margin: 15px;
  box-shadow: 0 4px 36px 0 rgba(8,55,73,.07);
  font-size: 1rem;
}

.WorkExperience header h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.WorkExperience header span {
  font-size: smaller;
}

.WorkExperience h4 {
  margin-bottom: 0;
}

.WorkExperience-skills {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.WorkExperience-skill {
  background-color: #fff3fc;
  border-radius: 12px; margin: 5px;
  box-shadow: 0 4px 36px 0 rgba(8,55,73,.07);
  padding: 5px;
  color: #373030;
  font-weight: bolder;
}
