.App {
  text-align: center;
}

.App-header {
  background-color: #faedd1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #302929;
}

.App-link {
  color: #61dafb;
}
